p{margin: 0;}
button{margin: 0;}
.mui-bar-nav{background-color: white;}
.mui-bar-nav button{position: absolute;right: 1rem; height: 100%;font-size: 1rem;color: #333333;font-family: icon;border: none;padding: 0;margin: 0;}
.nav{display: flex;justify-content: space-around;background-color: white;padding: 2rem 1rem 1rem;}
.nav div{width: 23%;}
.nav div p{position: relative;width: 4rem;height: 4rem;background-color: #E3E3E3;border-radius: 50%;margin: 0 auto;}
.nav div p img{
	display: block;
    width: 3rem;
    padding-top: 0.6rem;
    margin: 0px auto;
}
.clear:after{
	display: block;
	content: "";
	clear: both;
}
.nav div.cur p{background-color: #FFB1C3;}
.nav div h2{font-size: 0.9rem;text-align: center;color: #000000;margin-top: 1rem;}
.baby_messages{background-color: white;padding: 3rem 1rem 0 1rem;}
.baby_messages .baby_name{position: relative;}
.baby_messages .baby_name h2{ margin: 0; width: 30%;float: left;font-size: 1rem;line-height: 1.5rem;padding-left: 1rem;}
.baby_messages .baby_name input{width: 58%;height: 1.5rem;float: left;font-size: .9rem;padding: 0;border: none;}
.baby_messages .baby_name p{float: left;width: 1rem;height: 1rem;font-size: 0.7rem;color: white;font-family: icon;text-align: center;line-height: 1rem;background-color: #888888;border-radius: 50%;margin-top: 0.2rem;}
.baby_messages .baby_name:after{content: "\e6d7";position: absolute;top: 0.1rem;right: 0rem;font-size: 1.5rem;font-family: icon;}
.baby_birthday{background-color: white;padding: 0 1rem 1rem 1rem;}
.baby_birthday .baby_name{position: relative;}
.baby_birthday .baby_name h2{ margin: 0; width: 30%;float: left;font-size: 1rem;line-height: 1.5rem;padding-left: 1rem;}
.baby_birthday .baby_name p{width: 40%;height: 1.5rem;float: left;font-size: 1rem;color: black;line-height: 1.5rem;padding: 0;border: none;}
.baby_birthday .baby_name .btn{width: 23%;height: 1.5rem;float: left;font-size: .9rem;text-align: right;border: none;padding: 0;}
.baby_birthday .baby_name:after{content: "\e6d7";position: absolute;top: 0.1rem;right: 0rem;font-size: 1.5rem;font-family: icon;}
.add_baby{background-color: white;height: 20rem;margin-top: 0.5rem;padding: 1rem;}
.add_baby .baby_name{position: relative;}
.add_baby .baby_name p{width: 1.2rem;height: 1.2rem;float: left;font-size: 1rem;color: #CCCCCC;line-height: 1.2rem;text-align: center;border: 1px solid #CCCCCC;border-radius: 5px;margin-top: 0.15rem;padding: 0;}
.add_baby .baby_name h2{ margin: 0; width: 30%;float: left;font-size: 1rem;line-height: 1.5rem;padding-left: 1rem;}
.add_baby .baby_name button{width: 30%;height: 1.5rem;float: right;font-size: .9rem;text-align: right;border: none;padding: 0 1.5rem 0 0;}
.add_baby .baby_name:after{content: "\e6d7";position: absolute;top: 0.1rem;right: 0rem;font-size: 1.5rem;font-family: icon;}
.baby_name h2{font-weight: normal;}
.mui-btn, button{margin: 0;}
.mui-dtpicker, .mui-poppicker{background-color: white;}
